{
    "singleQuote": false,
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "endOfLine": "crlf",
    "printWidth": 140,
    "arrowParens": "avoid",
    "jsxBracketSameLine": false
}
