body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #000;
    color: #fff;
}

.square {
    background: #fff;
    border: 1px solid #999;
    font-size: 48px; /* Increased font size */
    font-weight: bold;
    line-height: 100px; /* Adjusted line height */
    height: 100px; /* Increased height */
    text-align: center;
    width: 100px; /* Increased width */
    cursor: pointer;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: aliceblue;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}
